* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(rgb(244, 247, 255), rgb(200, 208, 243));
  background-repeat: no-repeat;
}
.container {
  height: 650px;
  width: 800px;
  padding: 10px;
  margin: 0 auto;
}

.chat-container {
  padding: 20px;
  width: 100%;
  border-radius: 50px;
  background-color: white;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-container > .first-container {
  display: flex;
  align-items: center;
  padding: 6px;
}

.heading-container > .first-container > .profile-container {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.heading-container > .first-container > .profile-container img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.heading-container > .first-container > .profile-container p {
  font-size: 16px;
  font-family: Roboto;
  color: rgb(83, 83, 83);
}

.chat-container > .chat-content {
  height: 400px;
  width: 100%;
  padding: 24px;
  font-family: Roboto;
}

.text-box {
  background-color: rgb(133, 162, 240);
  border-radius: 50px;
}

.text-box .MuiOutlinedInput-input {
  padding: 20px 40px;
  color: white;
  opacity: 1 !important;
}

hr {
  opacity: 0.1;
}

.text-box .telegram-icon {
  color: white;
  font-size: 40px;
  margin-right: 16px;
  cursor: pointer;
}

.chat-content .incoming-msg-container{
  width: 40%;
  height: 20%;
}

.chat-content .incoming-msg {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  /* opacity: 1; */
  height: 50%;
  width: 100%;
  background-color: rgb(173, 233, 233);
  border-radius: 18px 0 18px 18px;
  padding: 20px;
  color: rgb(206, 39, 206);
  /* text-align: center; */
  cursor: pointer;
}

.chat-content .incoming-msg-container > span > .edit-btn{
  text-transform: none;
  font-size: 12px;
  float: left;
  color: gray;
}

.chat-content .incoming-msg-container > span > .del-btn{
  text-transform: none;
  font-size: 12px;
  float: right;
  color: gray;
}

.chat-content .outgoing-msg {
  height: 20%;
  width: 40%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  color: rgb(34, 70, 136);
  background-color: lightpink;
  border-radius: 18px 0 18px 18px;
  padding: 20px;
  text-align: right;
}

.message-edit-modal .modal-container {
  position: relative;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
  background-color: white;
  padding: 15px;
  height: 175px;
  width: 300px;
  border-radius: 12px;
}

.message-edit-modal .modal-container > .button-container {
  margin-top: 12px;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.message-edit-modal .modal-container > .button-container > .update-btn {
  text-transform: none;
  padding: 10px 20px;
}
.message-edit-modal .modal-container > .button-container > .cancel-btn {
  text-transform: none;
  padding: 10px 20px;
}
